exportPattern("^[[:alpha:]]+")
export(cpg.assoc,cpg.perm,cpg.combine,cpg.work,manhattan,design,cpg.everything)
import(nlme)
S3method(print, cpg)
S3method(summary, cpg)
S3method(plot,cpg)
S3method(print, cpg.perm)
S3method(summary,cpg.perm)
S3method(sort,cpg)
S3method(sort,cpg.perm)
S3method(plot,cpg.perm)
S3method(design,NULL)
S3method(design,data.frame)
S3method(cpg.everything,character)
S3method(cpg.everything,logical)
S3method(cpg.everything,matrix)
S3method(cpg.everything,complex)
S3method(cpg.everything,numeric)
S3method(print,cpg.gc)
S3method(print,cpg.perm.gc)

