exportPattern("^[[:alpha:]]+")
export(cpg.assoc,cpg.perm,cpg.combine,cpg.work,manhattan,design,cpg.everything)
import(nlme)
importFrom("grDevices", "dev.copy2pdf", "dev.off", "pdf", "postscript")
importFrom("graphics", "abline", "axis", "boxplot", "legend", "par",
             "plot", "points", "text")
importFrom("methods", "is")
importFrom("stats", "anova", "aov", "coef", "df", "formula", "lm",
             "median", "model.matrix", "na.omit", "p.adjust", "pf", "pt",
             "qbeta", "qchisq", "qqplot", "qt", "quantile")
importFrom("utils", "memory.limit", "object.size", "tail")
S3method(print, cpg)
S3method(summary, cpg)
S3method(plot,cpg)
S3method(print, cpg.perm)
S3method(summary,cpg.perm)
S3method(sort,cpg)
S3method(sort,cpg.perm)
S3method(plot,cpg.perm)
S3method(design,NULL)
S3method(design,data.frame)
S3method(cpg.everything,character)
S3method(cpg.everything,logical)
S3method(cpg.everything,matrix)
S3method(cpg.everything,complex)
S3method(cpg.everything,numeric)
S3method(print,cpg.gc)
S3method(print,cpg.perm.gc)


